<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New - Messageboard </title>
    <link rel="stylesheet" href="css/form.css" type="text/css">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
</head>
<body>
    <form method="POST" action="/new">
        <div class="message-form">
            <h4 style="margin-left: 10px;"> Create Post </h4>
            <div class="author-field">
                <label>Author:</label>
                <input name="messageUser" type="text" required>
            </div>
            
            <div class="message-field">
                <label>Message:</label>
                <input name="messageText" type="text" required>
            </div>
     
            <input type="submit" value="Post Message">
        </div>
    </form>
    <a href="/">Cancel</a>
</body>
</html>
