<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New - Messageboard </title>

    <style>
        html, body {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 20px;
        }

        .message-form {
            display: flex; 
            flex-direction: column;
            justify-content: center;
            border: 1px solid black;
            width: 300px;
            height: 200px;
            margin-top: 150px;
        }

        .author-field, .message-field {
            display: flex;
            justify-content: space-between;
            border: 0.5px solid gainsboro;
            padding: 10px;
        }

        input[type="submit"] {
            width: 40%; align-self:center; 
            margin-top: 10px; margin-bottom: 10px; 
            background-color: white; 
            border: 0.5px solid black;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            border: 1.0px solid gainsboro;
        }
     
        a {
            text-decoration: none;
            background-color: white;
            color: black;
            border: 1px solid black;
            padding: 5px 25px 5px 25px;
            cursor:pointer;
        }

        a:hover {
            border: 1.0px solid gainsboro;
        }
        
    </style>
</head>
<body>
    <form method="POST" action="/new">
        <div class="message-form">
            <h4 style="margin-left: 10px;"> Create Post </h4>
            <div class="author-field">
                <label>Author:</label>
                <input name="messageUser" type="text" required>
            </div>
            
            <div class="message-field">
                <label>Message:</label>
                <input name="messageText" type="text" required>
            </div>
     
            <input type="submit" value="Post Message">
        </div>
    </form>
    <a href="/">Cancel</a>
</body>
</html>
