<html>
    <head>
        <title> Mini Message Board</title> 
    </head>
    <body> 
        <h1> Express App Setup Success </h1> 
        <% if (message) { %> 
            <h1> <%= message %> </h1>
        <% } else { %> 
            <h1> No message </h1> 
        <% } %> 
    </body>
</html>
